<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235776703126-qpl8pvtqi6s9fvl4qkn88cicsrsj666d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235776703126-qpl8pvtqi6s9fvl4qkn88cicsrsj666d</string>
	<key>API_KEY</key>
	<string>AIzaSyCaiOJ7CTz-WmtMHVCr3parqzJrH3wA2f0</string>
	<key>GCM_SENDER_ID</key>
	<string>235776703126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ngvantai.covid</string>
	<key>PROJECT_ID</key>
	<string>covid-2c6f2</string>
	<key>STORAGE_BUCKET</key>
	<string>covid-2c6f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235776703126:ios:ea896de2051bb4fb73a0b7</string>
	<key>DATABASE_URL</key>
	<string>https://covid-2c6f2.firebaseio.com</string>
</dict>
</plist>